.inputTextstyle {
  width: 100%;
  border-radius: 30px;
  border-style: inset;
  text-align: center;
}

.btn {
  padding: 0em;
}
td {
  vertical-align: middle;
}

.btnheight {
  line-height: 0.5;
}

.scroll {
  height: 455px;
  overflow: auto;
}

.pageheight {
  height: 34em;
}

pre {
  display: block;
  font-size: 100%;
  color: #212529;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 0rem;
  overflow: hidden;
 font-family: 'Times New Roman', Times, serif;;
}
