<form #RangeView="ngForm">
    <div class="container-fluid">
        <div class="table-responsive scroll">

            <table class="table table-bordered table-sm text-nowrap tableFixHead" cellsspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>R#
                            <i (click)="showAll()" class="fa fa-repeat pointer" aria-hidden="true"></i>
                        </th>
                        <th>Date</th>
                        <th>Type
                            <i [matMenuTriggerFor]="hdsfredffv" class="fa fa-filter pointer" aria-hidden="true"></i>
                            <mat-menu #hdsfredffv="matMenu" xPosition="after" yPosition="below">
                                <button mat-menu-item (click)="filterType2(p)"
                                    *ngFor="let p of FilteredTypes; trackBy: trackByFn" [value]="p">{{p}}</button>
                            </mat-menu>
                        </th>
                        <th>Project Name
                            <i [matMenuTriggerFor]="rh5yehe" class="fa fa-filter pointer" aria-hidden="true"></i>
                            <mat-menu #rh5yehe="matMenu" xPosition="after" yPosition="below">
                                <button mat-menu-item (click)="filterProject2(p)"
                                    *ngFor="let p of FilteredProjects; trackBy: trackByFn" [value]="p">{{p}}</button>
                            </mat-menu>&nbsp;<b>/</b>&nbsp;
                            Phase Name
                            <i [matMenuTriggerFor]="vetv" class="fa fa-filter pointer" aria-hidden="true"></i>
                            <mat-menu #vetv="matMenu" xPosition="after" yPosition="below">
                                <button mat-menu-item (click)="filterPhase2(p)"
                                    *ngFor="let p of FilteredPhases; trackBy: trackByFn" [value]="p">{{p}}</button>
                            </mat-menu>
                        </th>
                        <th>Requirement</th>

                        <th>From
                            <i [matMenuTriggerFor]="ergetghdgjfds" class="fa fa-filter pointer" aria-hidden="true"></i>
                            <mat-menu #ergetghdgjfds="matMenu" xPosition="after" yPosition="below">
                                <button mat-menu-item (click)="filterFrom2(p)"
                                    *ngFor="let p of FilteredFrom; trackBy: trackByFn" [value]="p">{{p}}</button>
                            </mat-menu>
                        </th>
                        <th>To
                            <i [matMenuTriggerFor]="weffqw32" class="fa fa-filter pointer" aria-hidden="true"></i>
                            <mat-menu #weffqw32="matMenu" xPosition="after" yPosition="below">
                                <button mat-menu-item (click)="filterTo2(p)"
                                    *ngFor="let p of FilteredTo; trackBy: trackByFn" [value]="p">{{p}}</button>
                            </mat-menu>
                        </th>
                        <th width="5%">
                            Priority
                            <i [matMenuTriggerFor]="dg6dhid" class="fa fa-filter pointer" aria-hidden="true"></i>
                            <mat-menu #dg6dhid="matMenu" xPosition="after" yPosition="below">
                                <button mat-menu-item (click)="filterPriority2(p)"
                                    *ngFor="let p of FilteredPriority; trackBy: trackByFn" [value]="p">{{p}}</button>
                            </mat-menu>
                        </th>
                        <th width="5">Effort</th>
                        <th>TS Hrs</th>
                        <th>Status
                            <i [matMenuTriggerFor]="ge4rsg" class="fa fa-filter pointer" aria-hidden="true"></i>
                            <mat-menu #ge4rsg="matMenu" xPosition="after" yPosition="below">
                                <button mat-menu-item (click)="filterStatus2(p)"
                                    *ngFor="let p of FilteredStatus; trackBy: trackByFn" [value]="p">{{p}}</button>
                            </mat-menu>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let p of getRequirements;">
                        <td> {{p.Id}} </td>
                        <td> {{p.Date| date:'MMM d'}} </td>
                        <td> {{p.Type}} </td>
                        <td style="text-align: left;">{{p.ProjectName}} &nbsp;<b>/</b> &nbsp;
                            {{p.PhaseName}} </td>
                        <td> {{p.RequirementName}} &nbsp;

                            <i matTooltip="Add Detail" (click)="showReqDescTable(p)" class="fa fa-plus pointer"
                                aria-hidden="true"></i>
                        </td>

                        <td> {{p.From}} </td>
                        <td> {{p.To}} </td>
                        <td> <b *ngIf="p.Priority=='Low'" style="color: blueviolet;"> {{p.Priority}}</b>
                            <b *ngIf="p.Priority=='Medium'" style="color:royalblue;"> {{p.Priority}} </b>
                            <b *ngIf="p.Priority=='High'" style="color:orange"> {{p.Priority}} </b>
                            <b *ngIf="p.Priority=='Immediate'" style="color:red"> {{p.Priority}} </b>
                        </td>

                        <td> {{p.Effort}} </td>
                        <td> {{p.TSHours}} </td>
                        <td> {{p.Status}} </td>
                        <td>
                            <i class="fa fa-pencil-square-o greentext pointer" aria-hidden="true"
                                (click)="createPopup(p,'Update Requirement')"
                                matTooltip="Edit Activity">&nbsp;&nbsp;</i>

                            <i *ngIf=" loggedInuserDetails.UserType=='Admin'" class="fa fa-trash-o fail-msg pointer"
                                aria-hidden="true" (click)="deletePopup(p.Id,'REQUIREMENTS_DELETE')"
                                matTooltip="Delete Activity">&nbsp;&nbsp;</i>


                            <i *ngIf="p.Status=='New'" class="fa fa-location-arrow pointer" aria-hidden="true"
                                matTooltip="Add To Time Sheet" (click)="addTo(p,'Added to TS')">&nbsp;&nbsp;</i>


                            <i *ngIf="p.Status=='Added to TS'" class="fa fa-check-square pointer" aria-hidden="true"
                                matTooltip="Completed" (click)="addTo(p,'Completed')">&nbsp;&nbsp;</i>


                            <i *ngIf="p.Status=='Completed'" class="fa fa-location-arrow pointer" aria-hidden="true"
                                matTooltip="Again Add To Time Sheet"
                                (click)="addTo(p,'Again Added to TS')">&nbsp;&nbsp;</i>

                        </td>
                    </tr>
                    <tr style="height: 5px;" *ngIf="AddRequirement">
                        <td> </td>
                        <td>

                        </td>
                        <td>{{RequirementModel.Type}}
                            <i [matMenuTriggerFor]="afterMenu3" class="fa fa-chevron-circle-down pointer"
                                aria-hidden="true"></i>
                            <mat-menu #afterMenu3="matMenu" xPosition="after" yPosition="below">

                                <button mat-menu-item (click)="TypeMenu('New Req')">New Req</button>
                                <button mat-menu-item (click)="TypeMenu('Idea')">Idea</button>
                                <button mat-menu-item (click)="TypeMenu('Bug')">Bug</button>
                                <button mat-menu-item (click)="TypeMenu('Challenge')">Challenge</button>
                            </mat-menu>

                        </td>
                        <td>{{RequirementModel.ProjectName}}
                            <i [matMenuTriggerFor]="afterMenu6" class="fa fa-chevron-circle-down pointer"
                                aria-hidden="true"></i>
                            <mat-menu #afterMenu6="matMenu" xPosition="after" yPosition="below">
                                <button mat-menu-item (click)="filterProject(p)"
                                    *ngFor="let p of getProjects; trackBy: trackByFn"
                                    [value]="p">{{p.ProjectName}}</button>
                            </mat-menu>
                            &nbsp;/&nbsp;
                            {{RequirementModel.PhaseName}}
                            <i [matMenuTriggerFor]="afterMenu5" class="fa fa-chevron-circle-down pointer"
                                aria-hidden="true"></i>
                            <mat-menu #afterMenu5="matMenu" xPosition="after" yPosition="below">
                                <button mat-menu-item (click)="filterPhase(p)"
                                    *ngFor="let p of PhaseList; trackBy: trackByFn" [value]="p">{{p.PhaseName}}</button>
                            </mat-menu>
                        </td>
                        <td>
                            <div *ngIf="!EnterRequirement">
                                <i [matMenuTriggerFor]="afterMenudd3w" class="fa fa-chevron-circle-down pointer"
                                    aria-hidden="true"></i>
                                <mat-menu #afterMenudd3w="matMenu" xPosition="after" yPosition="below">
                                    <button mat-menu-item *ngFor="let p of RequirementList; trackBy: trackByFn"
                                        [value]="p">{{p.TaskName}} &nbsp; <b style="color: red;">x</b></button>
                                    <button style="color:darksalmon;" *ngIf="RequirementModel.PhaseName!=null"
                                        mat-menu-item (click)="filterRequirement('Not Exist')">Not Exist (Add
                                        New)</button>

                                </mat-menu>
                            </div>
                            <div *ngIf="EnterRequirement">
                                <input maxlength="30" placeholder="Enter Requirement" matInput required
                                    name="RequirementName" #RequirementName="ngModel"
                                    [(ngModel)]="RequirementModel.RequirementName">
                            </div>
                        </td>

                        <td>{{RequirementModel.From}}

                        </td>
                        <td>{{RequirementModel.To}}
                            <i [matMenuTriggerFor]="assddwd" class="fa fa-chevron-circle-down pointer"
                                aria-hidden="true"></i>
                            <mat-menu #assddwd="matMenu" xPosition="after" yPosition="below">
                                <button mat-menu-item (click)="filterEmployee2(p.EmployeeName)"
                                    *ngFor="let p of getEmployees; trackBy: trackByFn"
                                    [value]="p">{{p.EmployeeName}}</button>
                            </mat-menu>
                        </td>
                        <td>{{RequirementModel.Priority}}
                            <i [matMenuTriggerFor]="afterMenu1" class="fa fa-chevron-circle-down pointer"
                                aria-hidden="true"></i>
                            <mat-menu #afterMenu1="matMenu" xPosition="after" yPosition="below">
                                <button mat-menu-item (click)="PriorityMenu('Low')">Low</button>
                                <button mat-menu-item (click)="PriorityMenu('Medium')">Medium</button>
                                <button mat-menu-item (click)="PriorityMenu('High')">High</button>
                                <button mat-menu-item (click)="PriorityMenu('Immediate')">Immediate</button>
                            </mat-menu>
                        </td>
                        <td>
                            <input placeholder="Hours" matInput required name="Effort" #Effort="ngModel"
                                [(ngModel)]="RequirementModel.Effort">
                        </td>
                        <td></td>
                        <td>{{RequirementModel.Status}}

                        </td>
                        <td>
                            <i class="fa fa-trash-o fail-msg pointer" aria-hidden="true" (click)="deleteRow()"
                                matTooltip="Delete Activity"></i>
                        </td>
                    </tr>
                    <br>
                </tbody>

            </table>
        </div>
    </div>
    <div *ngIf="AddRequirement">
        <button type="button" class="btn btn-primary btn-sm pull-right"
            (click)="saveRequirement(RequirementModel,'REQUIREMENTS_Insert')">
            <i class="fa fa-plus"></i>
            Save Requirement
        </button>
    </div>

    <div *ngIf="!AddRequirement && loggedInuserDetails.UserType=='Admin'">
        <button type="button" class="btn btn-primary btn-sm pull-right" (click)="addRequirement()">
            <i class="fa fa-plus"></i>
            Add Requirement
        </button>
    </div>
</form>




<!-- pop up for edit form data -->
<div class="modal fade" cdkDrag mdbModal #PopUpModal="mdbModal" id="PopUpModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-notify modal-info modal-xl" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">{{Title}}</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopUpModal()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <!--Body-->


            <div class="modal-body">
                <form #AddForm="ngForm">
                    <div class="row ">
                        <div class="col-sm-2">
                            <mat-form-field class="full-width">
                                <mat-label>Type</mat-label>
                                <mat-select required name="Type" #Type="ngModel" [(ngModel)]="RequirementModel.Type">

                                    <mat-option value="New Req">New Req</mat-option>
                                    <mat-option value="Idea">Idea</mat-option>
                                    <mat-option value="Bug">Bug</mat-option>
                                    <mat-option value="Challenge">Challenge</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>





                        <div class="col-sm-2">
                            <mat-form-field class="full-width">
                                <mat-label>To</mat-label>
                                <mat-select required name="To" #To="ngModel" [(ngModel)]="RequirementModel.To">
                                    <mat-option [value]=""></mat-option>
                                    <mat-option *ngFor="let p of getEmployees; trackBy: trackByFn"
                                        [value]="p.EmployeeName">{{p.EmployeeName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2">
                            <mat-form-field class="full-width">
                                <mat-label>Priority</mat-label>
                                <mat-select required name="Priority" #Priority="ngModel"
                                    [(ngModel)]="RequirementModel.Priority">
                                    <mat-option value="Low">Low</mat-option>
                                    <mat-option value="Medium">Medium</mat-option>
                                    <mat-option value="High">High</mat-option>
                                    <mat-option value="Immediate">Immediate</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-1">
                            <U> <input size='3' placeholder="Hours" matInput required name="Effort" #Effort="ngModel"
                                    [(ngModel)]="RequirementModel.Effort"></U>
                        </div>

                    </div>
                    <div class=" modal-footer justify-content-center">
                        <button type="submit" class="btn btn-primary btn-md"
                            (click)="saveRequirement(RequirementModel,'REQUIREMENTS_UPDATE')">Update</button>
                        <button type="button" class="btn btn-danger btn-md " (click)="closePopUpModal()">Cancel</button>
                    </div>

                    <div class="row justify-content-md-center">
                        <div class="alert alert-success" *ngIf="successmsg!==''" role="alert">
                            <h4>
                                <i class="fa fa-check"></i> {{successmsg}}</h4>
                        </div>
                        <div class="alert alert-warning" *ngIf="unsuccessmsg!==''" role="alert">
                            <h4>
                                <i class="fa fa-times-circle"></i> {{unsuccessmsg}}</h4>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


<!--Modal: modalConfirmDelete confirm dialog box to delete record in table-->
<div class="modal fade" cdkDrag id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" mdbModal #modalConfirmDelete="mdbModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <div class="modal-content text-center">
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure?</p>
            </div>
            <div class="modal-body">
                <i class="fa fa-times fa-4x animated rotateIn"></i>
            </div>
            <div class="modal-footer flex-center">
                <button class="btn btn-outline-danger btn-sm waves-effect"
                    (click)="saveRequirement(RequirementModel,'REQUIREMENTS_DELETE')">Yes</button>
                <button type="button" class="button round-md btnstyle btn-sm btn-danger"
                    (click)="modalConfirmDelete.hide()">No</button>
            </div>
        </div>
    </div>
</div>



<!-- pop up for add requirement detail box -->
<div class="modal fade" cdkDrag mdbModal #DetailModal="mdbModal" id="DetailModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-notify modal-info modal-xl" role="document">
        <!--Content-->
        <div class="modal-content" style="margin-left: -4em;margin-top: 4em;">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Requirement Detail - {{RequirementModel.RequirementName}}</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeDetailModal()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <!--Body-->


            <div class="modal-body ">
                <form #AddForm="ngForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm text-nowrap tableFixHead" cellsspacing="0"
                                    width="100%">
                                    <thead>
                                        <th>Sr No.</th>
                                        <th>Requirement Detail</th>
                                        <th>Status</th>
                                        <th>CompletedOn</th>
                                        <th>CompletedBy</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let p of getReqDescTable| paginate: {id: 'aa-paginate', itemsPerPage: 10, currentPage: aa };trackBy: trackByFn;let i=index;">
                                            <td>{{p.SrNo}}</td>
                                            <td width="70%">
                                                <pre>{{p.RequirementDesc}}</pre>
                                            </td>
                                            <td>
                                                <mat-checkbox [ngModelOptions]="{standalone: true}"
                                                    (change)='onChange($event,p)' color='primary'
                                                    [(ngModel)]='p.Status'>
                                                </mat-checkbox>
                                            </td>
                                            <td>{{p.CompletedOn|date}}</td>
                                            <td>
                                                {{p.CompletedBy}}
                                            </td>
                                            <td> <i class="fa fa-trash-o fail-msg pointer" aria-hidden="true"
                                                    (click)="deleteRequirementDetail(p,'ReqDescDelete')"
                                                    matTooltip="Delete Activity"></i> </td>
                                        </tr>
                                        <tr *ngIf="addReqDetail">
                                            <td></td>
                                            <td>
                                                <input placeholder="Enter Requirement Detail" matInput required
                                                    name="RequirementDetail" #RequirementDetail="ngModel"
                                                    [(ngModel)]="RequirementModel.RequirementDetail">
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td> <i class="fa fa-trash-o fail-msg pointer" aria-hidden="true"
                                                    (click)="hideRequiDetailrow()" matTooltip="Delete Activity"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <tfoot [hidden]="getReqDescTable?getReqDescTable.length<=10:false">
                                <pagination-controls id="aa-paginate" (pageChange)="aa = $event">
                                </pagination-controls>
                            </tfoot>
                        </div>
                        <div class="col-sm-5"></div>
                        <div class="col-sm-4">
                            <button mat-button [matMenuTriggerFor]="mensgu">Select</button>
                            <mat-menu #mensgu="matMenu">
                                <button mat-menu-item *ngFor="let p of getEmployees; trackBy: trackByFn"
                               (click)="sendSkype(p.SkypeId)" >{{p.EmployeeName}}</button>                             
                              </mat-menu>
                              <b id="demo"></b>
                        </div>
                        <div class="col-sm-2">
                            <button *ngIf="!addReqDetail" type="button" class="btn btn-primary btn-sm pull-right"
                                (click)="addRequiDetail()">
                                <i class="fa fa-plus"></i>
                                Add Detail
                            </button>
                            <button *ngIf="addReqDetail" type="submit" class="btn btn-primary btn-md"
                                (click)="saveRequirementDetail('ReqDescInsert')">Save Detail</button>
                        </div>
                        <div class="col-sm-1">
                         
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>